<div class="footer">
    <div class="bg-img">
        <img src="/asset/images/Inquiry-bg.png" alt="">
    </div>
    <div class="container">
        <!-- 문의 하기 -->
        <div class="inquiry-wrap">
            <div class="section-title-wrap">
                <p class="section-title white">Contact Us</p>
            </div>
            <div class="flex-wrap">
                <div class="inquiry-input-list">
                    <div class="inquiry-input-box sm">
                        <p class="label">소속<span>*</span></p>
                        <input type="text">
                    </div>
                    <div class="inquiry-input-box sm">
                        <p class="label">이름<span>*</span></p>
                        <input type="text">
                    </div>
                    <div class="inquiry-input-box">
                        <p class="label">전화번호<span>*</span></p>
                        <input type="text">
                    </div>
                    <div class="inquiry-input-box">
                        <p class="label">이메일<span>*</span></p>
                        <input type="text">
                    </div>
                </div>

                <div class="terms-wrap">
                    <div class="terms-box">

                    </div>
                    <div class="inquiry-btn-wrap">
                        <button class="inquiry-btn">문의하기 <i class="xi-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>



        <div class="footer-wrap">

            <div class="footer-ri">
                <div class="ft-site-map">
                    <ul>
                        <li><a href="">회사소개</a></li>
                        <li><a href="">회사소개 or 인사말</a></li>
                        <li><a href="">조직도</a></li>
                        <li><a href="">CI</a></li>
                        <li><a href="">자격 및 인증</a></li>
                        <li><a href="">찾아오시는 길</a></li>
                    </ul>
                    <ul>
                        <li><a href="">사업소개</a></li>
                        <li><a href="">사업1</a></li>
                        <li><a href="">사업1</a></li>
                        <li><a href="">사업1</a></li>
                    </ul>
                    <ul>
                        <li><a href="">솔루션</a></li>
                        <li><a href="">제품1</a></li>
                        <li><a href="">제품1</a></li>
                        <li><a href="">제품1</a></li>
                    </ul>
                    <ul>
                        <li><a href="">PR센터</a></li>
                        <li><a href="">공지사항</a></li>
                        <li><a href="">포트폴리오</a></li>
                        <li><a href="">보도자료</a></li>
                    </ul>
                    <ul>
                        <li><a href="">문의하기</a></li>
                        <li><a href="">문의하기</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-le">
                <div class="ft-logo-wrap">
                    <a href="/">ORCASOFT</a>
                </div>
                <div class="terms-link-list">
                    <a href="">개인정보처리방침</a>
                    <a href="">이메일주소 무단수집거부</a>
                </div>
                <div class="footer-Info">
                    <p>
                        대표 : 유영제 <br>
                        주소 : 강원특별자치도 춘천시 후석로 462번길 7 춘천 ICT벤처센터 <br>
                        전화번호 : 82 +033-255-9617
                    </p>
                </div>
                <div class="Copyright-wrap">
                    <p>Copyright 2024 오르카소프트. All rights reserved.</p>
                </div>
            </div>

            

        </div>
    </div>
</div>