<div class="header active">
    <div class="container">
        <div class="header-logo-wrap">
            <a href="" class="logo"><img src="/asset/images/logo.png" alt=""></a>
        </div>
        
        <div class="header-ri">
            <div class="header-ri-nav">
                <ul>
                    <li><a href="/about.html">회사소개</a></li>
                    <li><a href="/business1.html">사업소개</a></li>
                    <li><a href="/solution1.html">솔루션</a></li>
                    <li><a href="">PR센터</a></li>
                    <li><a href="">문의하기</a></li>
                </ul>
            </div>

            <button class="sitemap-btn"><i class="xi-bars"></i></button>
        </div>
    </div>
</div>